* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e1e1e;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 15px;
  background: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  background: #2c2c2c;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  color: rgb(44, 125, 23);
  cursor: pointer;
}
